# This config file is to mimic the Oncotator simple tsv for segment files
#
# TODO: Uncomment the fields below
#alt_allele:
#end_gene:
end:END,End,End_Position,end_position,chromEnd,segment_end,End_position,target_end,stop,Stop,Position,position,pos,POS,segment_end
#start_gene:
#Segment_Mean:
genes:Gencode_19_genes,Gencode_27_genes,Gencode_28_genes
#Sample:
start:START,Start,Start_Position,start_position,chromStart,segment_start,Start_position,target_start,Position,position,pos,POS,segment_start
chr:CONTIG,contig,Chromosome,chrom,chromosome,Chrom,seqname,seqnames,CHROM,target_contig,segment_contig
#build:
#Num_Probes:
#end_exon:
#ref_allele:
#start_exon:
#Segment_Call:
